* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(0, 0, 255, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    position: relative;
    width: 800px;
    height: 650px;
}
.row { 
    width: 100%;
    height: 100%;
    background-color: white;
}
.foreign_word {
    margin-top: 6.5%;   
    margin-left: 5%;
    width: 45%;
    height: 65%;
    padding: 0;
}
.translated_word {
    margin-top: 6.5%;
    margin-right: 5%;
    width: 45%;
    height: 65%;
    padding: 0;
}
.foreign_options {
    margin-left: 5%;
    width: 45%;
    border: 1.5px rgba(0, 0, 0, 0.15) solid;
    height: 8%;
    border-right: none;
    position: relative;
    border-top: none;
    bottom: 3.8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.translated_options {
    margin-right: 5%;
    width: 45%;
    border: 1.5px rgba(0, 0, 0, 0.15) solid;
    height: 8%;
    position: relative;
    border-top: none;
    bottom: 3.8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.translate_btn {
    margin-left: 5%;
    width: 90%;
    height: 8%;
    position: relative;
    bottom: 3.8%;
    padding: 0;
}
.t_btn {
    width: 100%;
    height: 100%;
    margin: 0;
}
.icons1 {
    width: 33%;
    display: flex;
    justify-content: space-around;
    opacity: 0.4;
    /* border: 1px solid black; */
}
.fas {
    cursor: pointer;
}
.single1{
    text-align: center;
    opacity: 0.4;
    width: 5%;
    /* border: 1px solid black; */
}
.select_from {
    width: 40%;
    border: none;
    font-size: larger;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
}
.foreign_input {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5%;
    border: 1.5px rgba(0, 0, 0, 0.15) solid;
    border-right: none;
}
.translated_input {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5%;
    border: 1.5px rgba(0, 0, 0, 0.15) solid;
}
.select_to {
    border: none;
}